* {
  text-decoration: none;
  padding: 0;
  margin: 0;
  font-weight: 300;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

.navbar {
  background: #005BAA;
  padding: 0px 15px;
}

.navdiv {
  display: flex;  
  align-items: center;
  justify-content: center;
}

.navdiv li {
  list-style: none;
  display: inline-block;
}

.navdiv a{
  color: white;
  font-size: 2.5vh;
  margin: 0px 3vw;
  font-family: 'Lora', sans-serif;
  transition: .5s;
}

.navdiv a:hover {
  color: #004178;
}

.botao2 button {
  font-size: 2.2vh;
  font-family: "Montserrat", sans-serif; 
  text-align: center;
  color: white;
  background-color: #004178;
  border-radius: 35px;
  border: none;
  padding: 1vh 2vh;
  text-decoration: none;
  transition-duration: 0.4s;
  cursor: pointer;
  position: relative;
}

.botao2 button:hover {
  background-color: #011E4B;
}

.logo img {
  width: 100px;
  margin-left: 2rem;
}

.brazul {
  background: #005BAA;
  height: 10vh;
}

.pagina1 {
  background: #005BAA;
  height: 85vh;
  width: 100%;
}

.pagina1 h1 {
  margin: auto;
  font-size: 8vh;
  text-align: center;
  color: white;
  font-family: "Lora", sans-serif; 
  font-weight: 100px;
}

.pagina1 p {
  padding-top: 2rem;
  margin: auto;
  font-size: 3vh;
  font-family: "Montserrat", sans-serif; 
  text-align: center;
  color: white;
}

.botao1 {
  margin: 0;
  position: absolute;
  bottom: 10%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.botao1 button {
  font-size: 3vh;
  font-family: "Montserrat", sans-serif; 
  text-align: center;
  color: white;
  background-color: #004178;
  border-radius: 35px;
  border: none;
  padding: 16px 32px;
  text-decoration: none;
  transition-duration: 0.4s;
  cursor: pointer;
  position: relative;
}

.botao1 button:hover {
  background-color: #011E4B;
}

#folha1 {
  position: absolute;
  left: 2%;
  height: 30vh;
}

#folha2 {
  position: absolute;
  left: 20%;
  height: 40vh;
}

#folha3 {
  position: absolute;
  left: 60%;
  height: 30vh;
}

#folha4 {
  position: absolute;
  left: 80%;
  height: 50vh;
}

#folha1, #folha2, #folha3, #folha4 {
  bottom: -6%;
}

.pagina2 {
  background: #004178;
  width: 100%;
  height: 130vh;
  display: flex;  
  align-items: center;
  justify-content: center;
}

.pagina2 img {
  height: 50vh;
  border-radius: 25px;
}

.pagina2 h2 {
  margin-left: 50px;
  font-size: 6vh;
  font-family: "Lora", sans-serif;
  color: white; 
}

.pagina2 li {
  margin-left: 85px;
  margin-top: 30px;
  border-radius: 25px;
  font-size: 3vh;
  font-family: "Montserrat", sans-serif;
  font-weight: 400px;
  color: white; 
}

.pagina3 {
  background: #011E4B;
  height: 145vh;
  width: 100%;
}

.pagina3 h2 {
  padding-top: 50px;
  margin: auto;
  font-size: 7vh;
  text-align: center;
  color: white;
  font-family: "Lora", sans-serif; 
  font-weight: 100px;
}

.pagina3 p {
  padding-top: 40px;
  margin: auto;
  font-size: 5vh;
  font-family: "Lora", sans-serif; 
  text-align: center;
  color: white;
}

.beneficios {
  margin-top: 7%;
  display: flex;  
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.beneficio1 {
  background-color: white;
  width: 40vh;
  height: 60vh;
  border-radius: 40px;
}

.beneficio2 {
  background-color: white;
  width: 40vh;
  height: 60vh;
  border-radius: 40px;
  margin-bottom: 20vh;
}

.beneficio3 {
  background-color: white;
  width: 40vh;
  height: 60vh;
  border-radius: 40px;
}

.beneficios img {
  position: relative;
  padding-top: 40px;
  left: 10%;
  width: 8vh;
}

.beneficios h3 {
  font-size: 3vh;
  font-family: "Montserrat", sans-serif; 
  color: black;
  text-align: left;
  font-weight: 500;
  padding-bottom: 6vh;
}

#titulo1 {
  position: relative;
  top: -12%;
  left: 35%;
  width: 20vh;
}

#titulo2 {
  position: relative;
  top: -12%;
  left: 33%;
  width: 20vh;
}

#tituloimg2 {
  position: relative;
  left: 8%;
}

#titulo3 {
  position: relative;
  top: -12%;
  left: 31%;
  width: 20vh;
}

#tituloimg3 {
  position: relative;
  left: 7%;
}

.beneficio1 li{
  position: relative;
  left: 13%;
  bottom: 0%;
  font-size: 1.8vh;
  font-family: "Montserrat", sans-serif; 
  color: black;
  text-align: left;
  font-weight: 400;
  margin-top: -70px;
  margin-bottom: 70px;
}

.beneficio2 li{
  position: relative;
  left: 13%;
  font-size: 1.8vh;
  font-family: "Montserrat", sans-serif; 
  color: black;
  text-align: left;
  font-weight: 400;
  margin-top: -50px;
  margin-bottom: 70px;
}

.beneficio3 li{
  position: relative;
  left: 13%;
  font-size: 1.8vh;
  font-family: "Montserrat", sans-serif; 
  color: black;
  text-align: left;
  font-weight: 400;
  margin-top: -60px;
  margin-bottom: 70px;
}

.pagina4 {
  background: white;
  height: 145vh;
  width: 100%;
}

.pagina4 h2 {
  font-size: 3vh;
  font-family: "Montserrat", sans-serif; 
  color: #004178;
  text-align: center;
  font-weight: 300;
  margin-top: 2%;
  margin-bottom: 2%;
}

#cemempresas {
  font-family: "Montserrat", sans-serif; 
  font-weight: 500;
}

.apoiadores {
  display: flex;  
  align-items: center;
  justify-content: center;
}

.apoiadores img{
  width: 10%;
  margin: 5vh 10vh;
}

.linhav {
  border-left: 5px solid #004178;
  border-radius: 0px;
  height: 12rem;
  width: 2px;
}

.pagina4 h3 {
  font-size: 5rem;
  font-family: "Lora", sans-serif; 
  color: #004178;
  text-align: left;
  font-weight: 300;
  position: relative;
  top: 25%;
  left: 10%;
  width: max-content;
}

.pagina4 p {
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif; 
  color: #004178;
  text-align: left;
  font-weight: 300;
  position: relative;
  top: 10%;
  left: 55%;
  width: max-content;
}

#forte {
  font-weight: 500;
}

.pagina5 {
  background: #005BAA;
  height: 140vh ;
}

.pagina5 h2 {
  padding-top: 5vh;
  margin: auto;
  font-size: 10vh;
  text-align: center;
  color: white;
  font-family: "Lora", sans-serif; 
  font-weight: 100px;
}

.biotech {
  display: flex;  
  align-items: center;
  justify-content: center;
  padding-top: 150px;
}

.pagina5 img {
  width: 50vh;
  position: relative;
  top: 55%;
}

.pagina5 p {
  font-size: 3vh;
  font-family: "Montserrat", sans-serif; 
  color: white;
  text-align: left;
  font-weight: 200;
  position: relative;
  top: 50%;
}

.pagina5 h3 {
  padding-top: 7%;
  margin: auto;
  font-size: 6vh;
  text-align: center;
  color: white;
  font-family: "Lora", sans-serif; 
  font-weight: 100px;
}

.pagina6 {
  background: #004178;
  height: 140vh;
  width: 100%;
  display: flex;  
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif; 
  color: white;
  font-size: 2.6vh;
}

.formulario {
  background: #000000;
  border-radius: 25px;
  padding: 15px;
  width: 25%;
  height: 68%;
}

fieldset {
  border: 3px solid #005BAA;
  border-radius: 1px;
  padding: 0px 15px;
}

legend {
  border: 1px solid #005BAA;
  padding: 10px;
  text-align: center;
  background-color: #005BAA;
  border-radius: 8px;
}

.inputBox {
  position: relative;
}

.inputUser {
  background: none;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  color: white;
  font-size: 15px;
  width: 100%;
  letter-spacing: 2px;
}

.labelInput {
  position: absolute;
  top: -5px;
  left: 0px;
  pointer-events: none;
  transition: .5s;
}

.inputUser:focus ~ .labelInput, .inputUser:valid ~ .labelInput  {
  top: -40px;
  font-size: 20px;
  color: #005BAA;
}

#date-nasc {
  border: none;
  padding: 8px;
  font-size: 24px;
  border-radius: 5px;
  outline: none;
}

#submit {
  background-color: #005BAA;
  width: 100%;
  border: none;
  padding: 30px;
  color: white;
  font-size: 3vh;
  margin-bottom: 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: .5s;
}

#submit:hover {
  background-color: #004178;
}

@media screen and (max-width: 1440px) {   

  .botao1 {
    bottom: 10%;
  }

  .brazul {
    border: none;
    height: 5vh;
  }

  .formulario {
    height: 63%;
    width: 40%;
  }

  #folha1, #folha2, #folha3, #folha4 {
    bottom: -2%;
  }

}

@media screen and (max-width: 1024px){
  .brazul {
    height: 0vh;
  }

  .navdiv a{
    display: none;
  }

  .botao1 button {
    font-size: 1.5rem;
    padding: 0.6rem 1.2rem;
  }

  .botao2 button {
    font-size: 1rem;
    padding: 0.3rem 1.2rem;
  }

  #folha1, #folha2, #folha3, #folha4 {
    display: none;
  }

  #folha1 {
    height: 20vh;
  }

  #folha2 {
    height: 30vh;
  }

  #folha3 {
    left: 63%;
    height: 20vh;
  }

  #folha4 {
    height: 30vh;
  }

  .formulario {
    width: 50%;
  }

  .pagina4 p {
    font-size: 1.5rem;
    top: 13%;
  }

  .pagina2 img {
    height: 40vh;
    border-radius: 25px;
  }
  
  .pagina2 h2 {
    margin-left: 50px;
    font-size: 2rem;
  }
  
  .pagina2 li {
    margin-left: 85px;
    margin-top: 30px;
    border-radius: 25px;
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 400px;
    color: white; 
  }

  .pagina3 {
    height: max-content;
  }

  .pagina3 h2 {
    font-size: 4rem;
  }
  
  .pagina3 p {
    font-size: 2rem;
  }

  .beneficios {
    display: inline;  
  }

  .beneficio1 {
    display: block;
    margin: 10vh auto;
  }

  .beneficio2 {
    display: block;
    margin: 10vh auto;
  }

  .beneficio3 {
    display: block;
    margin: 10vh auto;
  }

  .pagina4 {
    height: 1000px;
  }

  .pagina4 h3 {
    font-size: 4rem;
  }

  .pagina5 {
    height: 800px;
  }

  .pagina5 img {
    width: 30vh;
  }

  .pagina5 p {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 768px){

  .pagina1 h1 {
    font-size: 50px;
  }

  .pagina1 h2 {
    font-size: 30px;
  }

  .botao1 button {
    font-size: 2.0rem;
    padding: 0.6rem 1.2rem;
  }

  .formulario {
    width: 50%;
  }

  .pagina4 p {
    font-size: 1.5rem;
    top: 13%;
  }

  .pagina2 img {
    height: 30vh;
    border-radius: 25px;
    margin-left: 5%;
  }
  
  .pagina2 h2 {
    margin-left: 30px;
    font-size: 30px;
  }
  
  .pagina2 li {
    margin-left: 40px;
    font-size: 20px;
  }

  .pagina3 {
    height: max-content;
  }

  .pagina3 h2 {
    font-size: 4rem;
  }
  
  .pagina3 p {
    font-size: 2rem;
  }

  .beneficios {
    display: inline;  
  }

  .beneficio1 {
    display: block;
    margin: 10vh auto;
  }

  .beneficio2 {
    display: block;
    margin: 10vh auto;
  }

  .beneficio3 {
    display: block;
    margin: 10vh auto;
  }

  .pagina4 {
    height: 800px;
  }

  .apoiadores {
    display: none;
  }

  .pagina4 h3 {
    font-size: 50px;
  }

  .pagina4 p {
    font-size: 20px;
  }

  .pagina5 {
    height: 800px;
  }

  .pagina5 img {
    width: 30vh;
  }

  .pagina5 h2 {
    font-size: 60px;
  }

  .pagina5 h3 {
    font-size: 40px;
  }

  .pagina5 p {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 425px){

  .pagina1 h1 {
    font-size: 40px;
  }

  .pagina1 h2 {
    margin: 10px;
    font-size: 10px;
  }

  .botao1 {
    left: 50%;
    width: 80%;
  }

  .botao1 button {
    font-size: 1.5rem;
    padding: 0.6rem 1.2rem;
  }

  .formulario {
    width: 80%;
  }

  .pagina4 p {
    font-size: 1.5rem;
    top: 13%;
  }

  .pagina2 {
    align-items: baseline;
    justify-content: baseline;
    height: 500px;
  }

  .pagina2 img {
    height: 10vh;
    border-radius: 25px;
    display: none;
  }
  
  .pagina2 h2 {
    font-size: 24px;
    margin: 50px auto 0px;
    text-align: center;
  }
  
  .pagina2 li {
    font-size: 16px;
  }

  .pagina3 {
    height: max-content;
  }

  .pagina3 h2 {
    font-size: 4rem;
  }
  
  .pagina3 p {
    font-size: 2rem;
  }

  .beneficios {
    display: inline;  
  }

  .beneficio1 {
    display: block;
    margin: 10vh auto;
  }

  .beneficio2 {
    display: block;
    margin: 10vh auto;
  }

  .beneficio3 {
    display: block;
    margin: 10vh auto;
  }

  .pagina4 {
    height: 800px;
  }

  .apoiadores {
    display: none;
  }

  .pagina4 h3 {
    font-size: 50px;
    top: 10%;
    left: 15%;
  }

  .pagina4 p {
    font-size: 20px;
    top: 15%;
    left: 15%;
  }

  .pagina5 {
    height: 800px;
  }

  .biotech {
    display: inline;
    width: 100px;
  }

  .pagina5 img {
    width: 30vh;
    top: 0%;
    left: 18%;
  }

  .pagina5 h2 {
    font-size: 60px;
  }

  .pagina5 p {
    font-size: 15px;
    top: 0%;
    left: 5%;
    width: max-content;
  }

  .pagina5 h3 {
    font-size: 40px;
    margin-top: 40px;
  }
}